.question
  .container.-border
    .question__flex
      .question__content.wow.fadeInUp
        include ../info/info

      .question__map.wow.fadeInUp(data-wow-delay='0.6s')
        include ../map/map