nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='./') Strona główna
    li.nav__item
      a.nav__link(href='offer.html') Oferta
    li.nav__item
      a.nav__link(href='gallery.html') Galeria
    li.nav__item
      a.nav__link(href='contact.html') Kontakt
