.gallery
  .container
    .gallery__box
      - for(var i = 1; i <= 15; i++)
        - var number = i % 3 + 1;
        - var imgSrc = imgDir + 'gallery__img-' + number + '.jpg';
        - var thumbSrc = 'background-image: url('+ imgDir + 'gallery__img-' + number + '.jpg)';
        - var itemDelay = i * 0.3 + 's';
        a.gallery__item.wow.fadeInRight(href=imgSrc title='Some description to change' data-wow-delay=itemDelay)
          .gallery__thumb(style=thumbSrc)