.about
  .container.-border
    .about__flex
      .about__title.wow.fadeInLeft(data-wow-offset='200')
        include ../title/title

      .about__content.wow.fadeInRight(data-wow-offset='200')
        p Domek całoroczny z kominkiem, 2 sypialnie, pokój dzienny z aneksem kuchennym w pełni wyposażonym, TV, internet, łazienka, do dyspozycji gości jest duża ogrodzona posesja, na której znajduje się staw rybny (można łowić ryby) i miejsca parkingowe. Popołudniową kawę można wypić na domku na wodzie skąd można obserwować bociany dumnie maszerujące nad stawem.

        p Wieczorne biesiady goście miło spędzą pod zadaszonym grillem. W naszym zacisznym siedlisku można naprawdę miło odpocząć. Preferujemy czynny wypoczynek. Goście mogą korzystać z kortu tenisowego, tenisa stołowego, rowerów. W swojej ofercie posiadmy również kajaki i skuter wodny. Dla rowerzystów udostępniamy miejsce na rozbicie namiotów.

        p Siedlisko usytułowane jest w pobliżu miasta Sępopol. Do rzeki Łyny, na której organizowane są spływy kajakowe jest zaledwie 0,5 km. Rowerami można przebyć trasę szlakiem bocianich gniazd. Lubiących kontakt z naturą proponujemy spacery po lesie.