link(rel="apple-touch-icon" sizes="180x180" href=imgDir + "apple-touch-icon.png")
link(rel="icon" type="image/png" href=imgDir + "favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href=imgDir + "favicon-16x16.png" sizes="16x16")
link(rel="manifest" href=imgDir + "manifest.json")
meta(name="theme-color" content="#ffffff")

link(rel="apple-touch-icon" sizes="180x180" href=imgDir + "apple-touch-icon.png")
link(rel="icon" type="image/png" href=imgDir +"favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png" href=imgDir + "favicon-16x16.png" sizes="16x16")
link(rel="manifest" href=imgDir + "manifest.json")
link(rel="mask-icon" href=imgDir + "safari-pinned-tab.svg")
meta(name="theme-color" content=imgDir + "#ffffff")