.form
  
  &__msg
    position: absolute
    bottom: 75px
    right: 0
    width: 100%
    padding: 15px 0
    color: $white
    text-align: center
    opacity: 1
    transition: 0.3s ease all
    z-index: 100
    &.-positive
      background: $green
    &.-negative
      background: $red
    &.-hide
      opacity: 0
      transform: translateY(-50%)
      pointer-events: none
  
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  
  &__column
    width: 100%
    position: relative
    +TAB_MIN
      width: calc(50% - 20px)
    +PC_MIN
      width: calc(50% - 40px)
  
  &__input, &__textarea, &__button
    +font(size 14px)
    display: block
    height: 45px
    width: 100%
    margin-bottom: 15px
    background: $white
    color: $grayDark
    border: 1px solid $gray
    
  &__input, &__textarea
    &::placeholder
      color: $grayDark
    &.-invalid
      background: $red
      color: $white
      &::placeholder
        color: $white
    &:focus
      outline: none
      background: darken($gray, 10%)
  
  &__input
    padding: 0 20px
  
  &__textarea
    +size(height 165px)
    padding: 20px
    resize: none
    overflow: auto
  
  &__button
    +button-animation
    background: $green
    color: $white
    border: none
    margin-left: auto
    cursor: pointer
    transition: 0.3s ease all
    +PC_MIN
      width: 50%
    &:hover
      background: darken($green, 10%)