.form

  form.form__box(name='form' action='mail.php' method='POST')

    .form__row
      .form__column
        input.form__input(type='text' name='name' placeholder='Imie i nazwisko *' required)
        input.form__input(type='email' name='email' placeholder='Adres e-mail *' pattern=".{1,60}" required)
        input.form__input(type='number' name='phone' placeholder='Numer telefonu *' required)

      .form__column
        textarea.form__textarea(name='msg' placeholder='Wiadomość *' required)
        button.form__button(type='submit') Wyślij

        .form__msg.-positive.-hide Wiadomość została wysłana
        .form__msg.-negative.-hide Problem z serwerem