#map
  
  &__canvas
    width: 100%
    height: 200px
    +TAB_MIN
      height: 350px
  
  &__marker
    padding: 10px
    text-align: center
    position: absolute
    transform: translate(-50%, -50%)
    color: $green
    &:hover
      text-decoration: none
      
      #map__icon
        transform: scale(1.3)
      
      #map__text
        opacity: 1
        pointer-events: all
        transform: scale(1)
  
  &__icon
    +font(size 38px)
    transition: 0.3s ease all
    margin-bottom: 5px
    
  &__text
    opacity: 0
    pointer-events: none
    transform: scale(0)
    transition: 0.4s
    margin-top: 10px
  
  .gm-style-cc
    display: none