include config

doctype html
html(lang='pl')

  include head

  body

    include ../components/loader/loader
    include ../components/tree/tree
    include ../components/header/header

    block content

    include ../components/question/question
    include ../components/footer/footer

    block scripts
      <!-- build:js #{jsLib} -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js #{jsProd} -->
      script(src=jsDev)
      <!-- endbuild -->